@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@700&display=swap');

.container{
    height:20vh;
    width: 20vw;
    z-index: 1;
    place-items: center;
    background-color:rgba(0, 0, 255, 0);
    display: grid;
    font-family: "M PLUS 1p", sans-serif;
}

.personas-container{
    position: absolute;
    top: 30vh;
    margin-left: 8vw;
    font-family: "M PLUS 1p", sans-serif;
    font-size: 15px;
    color: #ffffff;
    font-weight: bold;
    
    
}

.porcentaje_actual{
    color: #ffffff;
    
}

