@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@700&display=swap');

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:100%;
    width: auto;
    place-items: center;
    background-color:rgba(0, 0, 255, 0);
    font-family: "M PLUS 1p", sans-serif;
}

.personas-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    color: #ffffff;
    font-weight: bold;
    position: absolute ;
    font-family: "M PLUS 1p", sans-serif;
    font-size: 1vw;
    
    
}

.porcentaje_actual{
    color: #ffffff;
    
}

