<div class="blur">
    <div class="d-flex justify-content-center container">
        <div class="rounded bg-white p-1">
            <div class="d-flex flex-column rounded bg-primary">
                <p class=" text-white m-1 h1">Programación de cierres</p>
                <div class="d-flex flex-column">
                    <p class="text-white h2"> Cierre manual </p>
                    <div class="d-flex flex-row text-white">
                        <p class="col-md-4 h6">Indique la hora de cierre:</p>
                        <p class="col-md-8 h6">Indique la razón de cierre:</p>
                    </div>
                    <div class="d-flex flex-row">
                        <input type="time" class="col-md-4 input-group-text" name="tiempo">
                        <select class="form-select col-md-8 ">
                            <option selected>Selccione una razón de cierre</option>
                            <option value="Mantenimiento">Mantenimiento</option>
                            <option value="Limpieza">Limpieza</option>
                            <option value="Evento">Evento</option>
                            <option value="Otro">Otro</option>
                        </select>
                        <div class="btn btn-primary col-md-12">'Cerrar'</div>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    Placeholder
                </div>
                <div class="d-flex flex-row">
                    Placeholder
                </div>
                <!--
                <div class="aforoMaximoTitulo">
                    <h2 class="subtitulos">Aforo máximo actual:</h2>
                </div>
                <img src="../../../../assets/Line 26.png" class="linea" alt="..." />
                <div class="ingresarNuevoAf">
                    <h2 class="subtitulos"> Ingresa el nuevo aforo máximo de personas: </h2>
                </div>
                -->
            </div>
        </div>
    </div>
</div>