<!-- 15/05/2023 Daniel Evaristo Escalera Bonilla Tarjeta de cierre -->
<!-- 16/05/2023 Omar Cota Rodríguez Secció programar nuevo cierre -->
<!-- Contenedor, define el fondo de la tarjeta -->
<div id="fondo-tarjeta" class="d-flex align-items-center justify-content-center blur">

    <!-- Caja, contiene los textos e inputs -->
    <div id="cierre-box" class="d-flex flex-column rounded bg-primary border border-white border-5">

        <!-- Sección cierre manual -->
        <div id="cierre-manual" class="d-flex flex-column mr-5">

            <p id="titulo-cierre-manual" class="text-white ms-3 h1"> Cierre manual </p>

            <!-- Inputs del usuario -->
            <div id="input-usuario-cm" class="d-flex flex-row-reverse text-white pb-0 pt-0 p-5">
                <div id="boton-cambio" class="d-flex flex-column-reverse col-sm-2 ms-5 m-1 mr-5">
                    <div class="shadow-lg btn btn-danger fw-bold border border-white border-1">Cerrar</div>
                    <br>
                </div>
                <div id="input-cierre" class="d-flex flex-column col-sm-4 mr-5">
                    <p class="h6">Indique la hora de cierre:</p>
                    <input type="time" class="input-group-text" name="tiempo">
                </div>
            </div>
        </div>

        <!-- Separador -->
        <div class="text-white fw-bold ms-5"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</div>


        <!-- Sección programar nuevo cierre -->
        <div id="cierre-programado" class="d-flex flex-column mr-5">
            <p id="titulo-cierre-programado" class="text-white ms-3 h1"> Programar Nuevo Cierre </p>
        </div>
        <!-- subtitulo Programar un cierre que se repetirá de ahora en adelante en la hora y fecha indicada -->

        <div id="subtituloProgramarCierre" class="d-flex flex-column mr-5">
            <p id="subtitulo-programarCierre" class="text-white ms-3"> Programar un cierre que se repetirá de ahora en adelante en la hora y fecha indicada. </p>
        </div>

        <div id="input-usuario-cm" class="d-flex flex-row-reverse text-white pb-0 pt-0 p-5">
            <div id="boton-cambio" class="d-flex flex-column-reverse col-sm-2 ms-5 m-1 mr-5">
                <div class="shadow-lg btn btn-danger fw-bold border border-white border-1">Cerrar</div>
                <br>
            </div>
             
           

                    <div class="d-flex flex-row " >
                                <!-- caja donde se selecciona una hora de cierre -->
                    <div id="input-cierre-prog" class="d-flex flex-column mr-5 ">
                        <p class="h6 fw-bold">Indique la hora de cierre:</p>
                        <input type="time" class="input-group-text fw-bold" name="tiempo">
                    </div>

                    <!-- caja donde se selecciona una hora de apertura -->
                    <div id="input-apertura-prog" class="d-flex flex-column mr-5">
                        <p class="h6 fw-bold">Indique la hora de apertura:</p>
                        <input type="time" class="input-group-text fw-bold" name="tiempo">
                    </div>
                        <div class="d-flex flex-column-reverse ">
                            <div ngbDropdown id="input-dia" class="d-inline-block">
                                <button type="button" class="btn bg-white btn-outline-primary text-black fw-bold" id="dropdownBasic1" ngbDropdownToggle>
                                    Seleccione días
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <button ngbDropdownItem>Domingo</button>
                                    <button ngbDropdownItem>Lunes</button>
                                    <button ngbDropdownItem>Martes</button>
                                    <button ngbDropdownItem>Miercoles</button>
                                    <button ngbDropdownItem>Jueves</button>
                                    <button ngbDropdownItem>Viernes</button>
                                    <button ngbDropdownItem>Sabado</button>
                                </div>
                            </div>
                            <br>
                        </div>
    </div>
</div>