.blur{
    position: fixed;
    top: 0;
    left: 0;
    width: 110%;
    height: 100%;
    background-color: rgba(212, 202, 202, 0.615);
    border-radius: 12px;
}

#cierre-box{
    height: auto;
    width: 70vw;
    background-color: #004891;
}

#input-cierre-prog {
    margin-right: 1vw;
  }

#input-apertura-prog {
    margin-right: 1vw;
}

.warning{
    background-color: #cc725e;
}

.validacionFallida{
    color: #cc725e;
}

.bton{
    background-color: #FF2976;
}