<!-- 15/05/2023 Daniel Evaristo Escalera Bonilla Tarjeta de cierre -->

<!-- Contenedor, define el fondo de la tarjeta -->
<div id="fondo-tarjeta" class="d-flex align-items-center justify-content-center blur">

    <!-- Caja, contiene los textos e inputs -->
    <div id="cierre-box" class="d-flex flex-column rounded bg-primary border border-white border-5">

        <!-- Sección cierre manual -->
        <div id="cierre-manual" class="d-flex flex-column">

            <p id="titulo-cierre-manual" class="text-white ms-3 h1"> Cierre manual </p>

            <!-- Inputs del usuario -->
            <div id="input-usuario-cm" class="d-flex flex-row-reverse text-white">
                <div id="boton-cambio" class="d-flex flex-column-reverse m-1">
                    <div class="shadow-lg btn btn-danger fw-bold border border-white border-1">Cerrar</div>
                    <br>
                </div>
                <div id="input-cierre" class="d-flex flex-column mr-5">
                    <p class="h6">Indique la hora de cierre:</p>
                    <input type="time" class="input-group-text" name="tiempo">
                </div>
            </div>
        </div>


        <div class="d-flex flex-row">
            Placeholder
        </div>
        <div class="d-flex flex-row">
            Placeholder
        </div>
    </div>
</div>