
  
.hora-minuto {
    width: 115px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -70px;
    margin-left: 120px;
    right: px;
    top: 300px;
  }
  
  .hora-minuto .hora,
  .hora-minuto .minuto {
    font-size: 2rem;
    font-weight: bold;
    color: white;
   
  }
  
  .hora-minuto .separador {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0.5rem;
    color:white;
  }