<div class="container">
    <div id="{{'tarjeta-deporte' +i}}" (click)="handleClick(deporte.id_deporte)" *ngFor="let deporte of deportes, let i = index" class="deporte">
        <div class = "gradient"></div>
        <div class="nombre-deporte-container"><div class="nombre-deporte">{{deporte.nombre}}</div></div>
        <img class="lineas-text" src="../../assets/foto_deporte/lineas-text.png">
        <img class="arrow" src="../../assets/foto_deporte/icons/arrow.png">
        <img class="foto" src="{{backgroundURL(deporte.nombre)}}">
    </div>
</div>