<!-- Autor:Omar Cota -->
<!-- Componente que muestra que muestra estimaciones de personas en horas futuras. Cada estimación se representa mediante el componente app-estimaciones y se le pasan propiedades como el número de personas, el aforo máximo permitido -->
<div class="container">
    <div class="titulo">
        <div class="texto">Horas próximas</div>
        <div class="separator"></div>
    </div>

    <div class="estimaciones-wrapper">
        <app-estimaciones class="estimacion" [num_personas]="estimacionEn1Horas" [aforo_max]="280" [lugar]="1"></app-estimaciones>
        <app-estimaciones class="estimacion" [num_personas]="estimacionEn2Horas" [aforo_max]="280" [lugar]="2"></app-estimaciones>
        <app-estimaciones class="estimacion" [num_personas]="estimacionEn3Horas" [aforo_max]="280" [lugar]="3"></app-estimaciones>
    </div>
</div>