<div class="titulo-proximashoras">Horas próximas</div>
<div class="separator"></div>
<img src="../../../assets/bg-horasproximas.png" class="img-fluid" alt="..." />

<div class="container">
    <div class="container-left">
        <div class="separator4"></div>
        <div class="separator4"></div>
        <div class="separator4"></div>
    </div>
    <div class ="container-middle">
        <div class="hora">
            <span>{{ currentDateTime.getHours() +1 }}</span>
            <span>:</span>
            <span>00</span>
        </div>
        <div class="hora">
            <span>{{ currentDateTime.getHours() +2 }}</span>
            <span>:</span>
            <span>00</span>
        </div>
        <div class="hora">
            <span>{{ currentDateTime.getHours() +3 }}</span>
            <span>:</span>
            <span>00</span>
        </div>
    </div>
    <div class="container-right">
        <app-estimaciones [num_personas]="estimacionEn1Horas" [lugar]="1"></app-estimaciones>
        <app-estimaciones [num_personas]="estimacionEn2Horas" [lugar]="2"></app-estimaciones>
        <app-estimaciones [num_personas]="estimacionEn3Horas" [lugar]="3"></app-estimaciones>
    </div>
    <!-- <img src="../../../assets/bg-horasproximas.png" class="img-fluid" alt="..." />
    <div class="separator2"></div>
    <div class="separator3"></div>
    <div class="separator4"></div>
    <app-estimaciones [num_personas]="estimacionEn1Horas" [lugar]="1"></app-estimaciones>
    <app-estimaciones [num_personas]="estimacionEn2Horas" [lugar]="2"></app-estimaciones>
    <app-estimaciones [num_personas]="estimacionEn3Horas" [lugar]="3"></app-estimaciones> -->
</div>
