body {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url("../../assets/wellness-foto.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(216, 225, 255, .35);
}