<body>
    <div class="bg">
        <div class="login">
            <img class="login-logo" src="../../assets/borrego-white.svg" alt="logo"/>
            <div class="login-text">INICIA SESIÓN</div>
            <div class="login-placeholder">Matrícula o nómina</div>
            <form class="login-form"[formGroup]="formData" (ngSubmit)="onClickSubmit(formData.value)" [class.wrong]="matriculaInvalida">
                <input type="text" id="matricula" class="form-control login-text-input" 
                                formControlName="matricula" placeholder="Ej. A00830337" required autofocus>
                <button id="boton-intro" class="btn btn-primary login-button" type="submit">
                    <i class="fal fa-arrow-right"></i>
                </button>
            </form>
        </div>
    </div>
</body>