<!-- bloquear-espacio.component.html -->
<!-- Tarjeta para bloquear los espacios por dias y horas-->
<!-- Daniel Evaristo Escalera Bonilla -->
<!-- 03/06/2023 -->
<div class="d-flex align-items-center justify-content-center ps-5 blur">

    <!-- Caja, contiene los textos e inputs -->
    <div id="cierre-box" class="d-flex flex-column rounded border border-white border-5 ms-5 pt-1 p-3">
        <div class="d-flex flex-row justify-content-between">
            <p id="titulo-cierre-manual" class="text-white h1"> Bloquear espacio </p>
            <div (click)="cerrarTarjeta()" id="cerrar-tarjeta" class="btn bg-transparent text-white">x</div>
        </div>

        <p class="text-white"> Cerrar el espacio durante varios días a la misma hora</p>

        <!-- Inputs de fecha y hora y botones -->
        <div class="d-flex flex-row-reverse justify-content-evenly">

            <div id="boton-cambio" class="d-flex flex-column-reverse col-sm-2 mt-0">
                <div (click)="bloquear()" id="boton-bloqueo"
                    class="btn bton fw-bold border border-white border-1 text-white shadow-lg">Aplicar
                </div>
                <br>
            </div>

            <div class="d-flex flex-column col-sm-2 mt-0">
                <div class="text-white h6">
                    Hora de fin:
                </div>
                <input id="hora-fin-bloqueo" [(ngModel)]="horaFin" type="time" class="input-group-text hora">
            </div>

            <div class="d-flex flex-column col-sm-2 mt-0">
                <div class="text-white h6">
                    Hora de inicio:
                </div>
                <input id="hora-inicio-bloqueo" [(ngModel)]="horaIni" type="time" class="input-group-text hora">
            </div>

            <div class="d-flex flex-column col-sm-4 mt-auto">
                <div class="text-white h6">
                    Elige los días donde se cerrará el espacio:
                </div>
                <mat-form-field class="date-picker">
                    <mat-label>Elige un rango de fecha</mat-label>
                    <mat-date-range-input [rangePicker]="picker2" id="id-input-range">
                      <input id="id-input-1" matStartDate placeholder="Start date" [(ngModel)]="fechaInicio" [min]="hoy">
                      <input id="id-input-2" matEndDate placeholder="End date" [(ngModel)]="fechaFinal" [min]="hoy">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker2></mat-date-range-picker>
                  </mat-form-field>
            </div>
            
        </div>

        <!-- Separador -->
        <img src="../../../assets/Line 26.png" class="img-fluid m-2">

        <p id="titulo-cierre-manual" class="text-white h1"> Liberar espacio </p>

        <p class="text-white"> Quitar el bloqueo de un espacio</p>
        
        <!-- Lista de bloqueos -->
        <div id="caja-bloqueos" class="d-flex flex-column">
            <div class="d-flex flex-column" *ngFor="let item of bloqueosEspacio, let i = index" >
                <div class="d-flex flex-row justify-content-between bg-primary rounded border border-2 border-white mb-1"> 
                    <div class="text-white" >{{item.fecha_inicio.substring(0,10)}}</div>
                    <div id="{{'hora-liberar-'+i}}" class="text-white">{{item.hora_inicio.substring(0,5)}} - {{item.hora_fin.substring(0,5)}}</div>
                    <div id="{{'boton-liberar-'+i}}" class="btn bton border border-1 border-white text-white" (click)="liberar(item.id_bloqueo)" >Liberar</div>
                </div>
                
            </div>
        </div>

    </div>
</div>