@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
    grid-gap: 10px;

    .cuadrante {
        .title {
            font-family: 'Poppins', sans-serif;;
            font-weight: bold;
            font-size: large;
        }        
        .recargar-datos {
            display: grid;
            grid-template-columns: repeat(1, 15rem);

            .date-picker {
                margin: 1rem;
            }
            .btn-recargar {
                width: 85%;
                margin-left: 20px;
            }
        }
        

    }
}