<div class="container">
    <div class="afluencia-semanal">
        <div class="title">Afluencia Por Semana</div>
        <canvas id="chart-semanal"> {{chartSemanal}} </canvas>
    </div>
    <div class="estancia-promedio">
        <div class="title">Estancia Promedio</div>
        <canvas id="chart-estancia"> {{chartEstancia}} </canvas>
    </div>
    <div class="historial-aforo">
        <div class="title">Historial del Aforo</div>
        <canvas id="chart-historial"> {{chartHistorial}} </canvas>
    </div>
</div>