<div class="container">
    <div class="cuadrante afluencia-semanal">
        <div class="title">Afluencia Por Semana</div>
        <app-chart 
            [my_id]="'afluencia-semanal'"
            [type]="'bar'"
            [label]="'Promedio de Personas Por Día de la Semana'"
            [labels]="['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sabado']"
            [data]="dataChartSemanal"
        ></app-chart>
    </div>
    <div class="cuadrante estancia-promedio">
        <div class="title">Estancia Promedio</div>
        <app-chart 
            [my_id]="'estancia-promedio'"
            [type]="'bar'"
            [label]="'Promedio de Personas Por Día de la Semana'"
            [labels]="['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sabado']"
            [data]="dataChartSemanal"
        ></app-chart>
    </div>
    <div class="cuadrante historial-aforo">
        <div class="title">Historial del Aforo</div>
        <app-chart 
            [my_id]="'historial-aforo'"
            [type]="'bar'"
            [label]="'Historial de Aforo Por Hora'"
            [labels]="labelsChartHistorial"
            [data]="dataChartHistorial"
        ></app-chart>
    </div>
    <div class="cuadrante opciones">
        <div class="title">Opciones de Visualización</div>
        <div class="recargar-datos">
            <mat-form-field class="date-picker">
                <mat-label>Elige Una Fecha</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="fechaPorCargar">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <button (click)="recargarDatos(fechaPorCargar)" class="btn btn-primary btn-recargar">Recargar Datos</button>
        </div>
    </div>
</div>