@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@700&display=swap');


.container{
    //margin-top: -2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
   // margin-top: 30px;
    //margin-right: 12px;
   // background-color: rgba(29, 241, 241, 0.927);
   // place-items: center;
   // display: grid;
    //position: absolute;
}


.porcentaje_actual{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    position: absolute ;
    margin-top: 0px;
    //right: 50px; 
    background-color: rgba(0, 255, 255, 0);

}

   