@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@700&display=swap');


.container{
    margin-left: 1rem;
    margin-top: 8rem;
    
    .hora {
        color: #ffffff;
        font-size: 15px;
        font-weight: bold;
        margin-top: -40px;
        background-color: rgba(0, 255, 255, 0);
        font-size: 2rem;
    }
    .grafica_wrapper {
        position: absolute;
        margin-left: 10rem;
        margin-top: -4rem;
        .porcentaje_text {
            position: absolute;
            transform:translate(-250%, 220%);
            color: white;
            font-weight: bold;
        }
    }
}
   