<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
    <div class="logo-container">
        <button id="logo" class="logo" (click)="toggleCollapse()">
            <img class="logo-img" src="../../assets/borrego-white.svg" alt="logo"/>        
        </button>
        <div class="logo-text" *ngIf="collapsed">Wellness</div>
        <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()">
            <i class="fal fa-times close-icon"></i>
        </button>
    </div>
    <div class="scrollwrap scrollwrap_delayed">
        <ul class="sidenav-nav">
            <li id="nav" class="sidenav-nav-item" *ngFor="let data of navData; let i = index">
                <a id="{{'nav' + i}}" class="sidenav-nav-link" (click)="handleClick(data)"
                    [routerLink]="[data.routeLink]" 
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}"
                >
                    <i class="sidenav-link-icon" [class]="data.icon"></i>
                    <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                        {{data.label}}
                    </span>
                    <i *ngIf="data.items && collapsed" class="menu-collapse-icon"
                        [ngClass]="!data.expanded ? 'fal fa-angle-right' : 'fal fa-angle-down'"
                    ></i>
                </a>
                <div *ngIf="collapsed && data.items && data.items.length > 0">
                    <app-sublevel-menu
                        [data]="data"
                        [collapsed]="collapsed"
                        [multiple]="multiple"
                        [expanded]="data.expanded"
                    ></app-sublevel-menu>
                </div>
            </li>
        </ul>
    </div>
</div>