.boton{
  
    width:4vw;
    height:2h;
    margin-bottom: 111;
    margin-left:-200px;
    transform: translate(140px, -140px);
    z-index: 2;
    background-color: rgba(0, 255, 255, 0);
    border-color: rgba(127, 255, 212, 0);
   
}