.hora-minuto {
    width: 115px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -60px;
    margin-left: 4rem;
    background-color: rgba(0, 255, 255, 0);
  }
  
  .hora-minuto .hora,
  .hora-minuto .minuto {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    
  }
  
  .hora-minuto .separador {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0.5rem;
    color:white;
    background-color: rgba(0, 255, 255, 0);
  }