<div class="upper-container">
    <div class="estado-gym flex-box"><app-estado-gym></app-estado-gym></div>
    <div class="flex-box2"><app-horas-proximas></app-horas-proximas></div>
</div>
<div class="lower-container">
    <div class="flex-box3"><app-esta-semana></app-esta-semana></div>
    <div  class="flex-box4"><app-historial></app-historial></div>
    <button (click)="ocultar()" type="button" class="boton">
        <img src="../../../../assets/Vector.png" class="img-fluid" alt="..." />
    </button>
    <button id="boton-cierre" class="boton-cierre" >
        <p class="cierre">ProgramarCierre</p> 
      </button>
</div>


<app-modif-aforo *ngIf="miServicio.isModifyingAforo" ></app-modif-aforo>
