<div class="d-flex flex-row justify-content-start">

    <div class="d-flex flex-column align-items-evenly">
        <div class="d-flex flex-column mb-3 mt-3">
            <div class="titulo-aforo ms-3 m-0">Aforo actual</div>
            <div class="separator mt-3"></div>
        </div>


        <div class="d-flex flex-column text-white ms-5">
            <p id="saludo" class="saludo m-0 mb-3">
                HOY, {{dia.toUpperCase()}}
            </p>
            <p id="fecha" class="reloj m-0 mb-1">{{time | date: 'dd'}} de {{time | date: 'MMMM'}}</p>
            <p id="hora" class="reloj m-0 mb-1">{{time | date: 'hh:mm a'}}</p>
            <div id="boton-cierre" *ngIf="isAdmin" (click)="cierresTab()" id="boton-cierre"
                class="shadow btn btn-light fw-bold border border-dark border-3 mb-1 d-flex align-items-center justify-content-center mt-2">
                Programar Cierre
            </div>
        </div>



        <div class="d-flex flex-column text-white ms-5 mt-5">
            <div class="textos-estado  text-white">
                <div class="d-flex flex-row mb-2">
                    <div class="fw-light"> Hora de {{estado ? 'Cierre' : 'Apertura'}}: </div>
                    <div id="hora-de-cambio" class="fw-bold ms-1"> {{estado? hora_cierre : hora_apertura }} </div>
                </div>
            </div>
            <div class="d-flex flex-row align-items-center mt-3">
                <span *ngIf="estado" class="icono-estado fas fa-circle" style="color: green"></span>
                <span *ngIf="!estado" class="icono-estado fas fa-circle" style="color: red"></span>
                <div class="texto-estado text-white ms-2">{{estado ? 'Abierto' : 'Cerrado'}}</div>
            </div>
        </div>

    </div>
    <app-graf-porcentaje [aforo_max]="aforo_max" [num_personas]="aforo_actual"
        class="grafica-porcentaje"></app-graf-porcentaje>
</div>