<div class="big-container">
    <div *ngFor = "let reserva of reservaciones"  class="reserva">
        <img class="back-foto" src="{{backgroundURL(reserva.nombre_deporte)}}">
        <div class = "color-foto"></div>
        <div class = "gradient"></div>
        <div class = "content">

            <div class="reserva-left">
                <div class="reserva-left-top">{{reserva.nombre_espacio}}</div>
                <div class="reserva-left-middle"></div>
                <div class="reserva-left-bottom">Lugar: {{reserva.nombre_instalacion}} <br> Hora: <br>{{reserva.hora_entrada.toLocaleString()}} - {{reserva.hora_salida.toLocaleString()}}</div>
                
            </div>
            <div class="reserva-right">
                <div class="reserva-right-top">
                    <div class="reserva-right-up-up">Estado:</div>  
                    <div class="reserva-right-up-middle">
                        <div class="semaforo-left"> 
                            <!-- 1 = Activa, 2 = Finalizada, 3 = Cancelada, 4 = En Progreso -->
                            <div *ngIf = "reserva.estatus === 0" class="semaforo-circle-0"></div>
                            <div *ngIf = "reserva.estatus === 1" class="semaforo-circle-1"></div>
                            <div *ngIf = "reserva.estatus === 2" class="semaforo-circle-2"></div>
                            <div *ngIf = "reserva.estatus === 3" class="semaforo-circle-3"></div>
                        </div>
                        <div *ngIf = "reserva.estatus === 0" class="semaforo-right">En Progreso</div>
                        <div *ngIf = "reserva.estatus === 1" class="semaforo-right">Activa</div>
                        <div *ngIf = "reserva.estatus === 2" class="semaforo-right">Finalizada</div>
                        <div *ngIf = "reserva.estatus === 3" class="semaforo-right">Cancelada</div>
                    </div>
                    <div *ngIf="isProrrogaActiva(reserva)" class="reserva-right-up-down">Prorroga hasta: {{getProrroga(reserva.hora_entrada)}}</div> 
                </div>
                <div class="reserva-right-down">
                    <div class="reserva-right-down-up">
                        <div [ngClass]="isProrrogaActiva(reserva) ? 'activo' : 'desactivado'" (click)="confirmar(reserva)" class="boton-confirmar">Ya llegué</div>
                    </div>  
                    <div (click)="cancelar(reserva)" class="reserva-right-down-down">Cancelar reservación</div> 
                </div>
            </div>

        </div>
    </div>
</div>