
<!-- <div class="container">
    <div *ngFor="let reserva of reservaciones" class="reserva">
        {{reserva.hora_entrada}}
    </div>
</div> -->

<div class="big-container">
    <div *ngFor = "let reserva of reservaciones"  class="reserva">
        <div class="reserva-left">
            <div class="reserva-left-top">{{reserva.nombre_espacio}}</div>
            <div class="reserva-left-middle">{{reserva.nombre_deporte}}</div>
            <div class="reserva-left-bottom">Hora: 15:00 - 16:00</div>
            
        </div>
        <div class="reserva-right"></div>
    </div>
    <!-- <div class="reserva">

    </div>
    <div class="reserva">

    </div>
    <div class="reserva">

    </div>
    <div class="reserva">

    </div> -->
</div>