#caja-aforo{
    height: auto;
    width: 60vw;
    background-color: #004891;
}

.blur{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(212, 202, 202, 0.615);
    width: 110%;
    height:100%;
    border-radius: 12px;
}

::placeholder{
    color:#CACACA;
    size: 60px;
}

#cantidad{
    width: 24vw;
    height: 6vh;
}

.tituloModificarA{
    font-size: 4.5vh;
}

.subtitulos{
    font-size:3.5vh;
}
