<div *ngIf="miServicio.isModifyingAforo" class="hola">
    <div class="container">
        <div class="ModificarAforoTitulo"><h1 class="tituloModificarA">Modificar Aforo del Gimnasio</h1></div>
        <div class="aforoMaximoTitulo"><h2 class="subtitulos">Aforo máximo actual:</h2></div>
        <img src="../../../../assets/Line 26.png" class="linea" alt="..." />
        <div class="ingresarNuevoAf"><h2 class="subtitulos"> Ingresa el nuevo aforo máximo de personas: </h2></div>
        
        <div class="fondoblanco"></div>
        <div class="aforo"></div>
        <div class="contenedor"><input id="input-aforo" [(ngModel)]="newAforo" type="text" id="cantidad" placeholder= "Ej.240">
        <div class="botones mt-3">
            <button (click)="ocultar()" class=" btn btn-light cancelar col-md-4 ms-2 " >Cancelar</button> 
            <button (click)="saveNewAforo()" class="guardar btn btn-light col-md-4 ms-5">Guardar</button></div>
        </div>
    </div>
</div>
